In [1]:
# import package
import pandas as pd
import math
import numpy as np
import statsmodels.api as sm
from scipy import stats
import statistics

In [2]:
# load the data
df = pd.read_excel('/Users/dantoni/HW1/TP1.xls', skiprows = 4)

# EXERCICE 1
## EXERCICE 1.1

In [3]:
# save data as an array of array (easier to manipulate)
data_lag = np.array(df.iloc[:-1,1:])

In [4]:
data = np.array(df.iloc[1:,1:])

In [5]:
# Calculate the daily return for each stock (arithmetic)
daily_return_ari = (data-data_lag)/data_lag

In [6]:
# Calculate the daily return for each stock (log)
daily_return_log = np.log(data/data_lag)

In [7]:
# Compute the daily return for each stock (arithmetic) in data frame type
daily_return_ari_df = pd.DataFrame(daily_return_ari, columns = ['Microsoft','Credit Suisse' ,'Boeing' ,'Coca Cola' ,'Nike'])
daily_return_ari_df

      Microsoft  Credit Suisse    Boeing  Coca Cola      Nike
0      0.014440       0.014320 -0.026674   0.018500 -0.003098
1     -0.021352       0.000000  0.020694   0.015709 -0.004661
2      0.005455      -0.014118 -0.010411   0.000000  0.007804
3      0.016275       0.014320  0.000000   0.002900 -0.001549
4     -0.012456      -0.014118 -0.003322  -0.021205  0.006722
...         ...            ...       ...        ...       ...
2603   0.007141       0.012346 -0.017049  -0.027542  0.032962
2604   0.046878      -0.036585 -0.032688   0.010675 -0.023596
2605  -0.012041      -0.017722  0.046897   0.034706  0.048101
2606  -0.015997      -0.023196 -0.007246  -0.002500 -0.005270
2607   0.029611       0.010554  0.018580   0.001253 -0.001325

[2608 rows x 5 columns]

In [8]:
# Compute the daily return for each stock (log) in data frame type
daily_return_log_df = pd.DataFrame(daily_return_log, columns = ['Microsoft','Credit Suisse' ,'Boeing' ,'Coca Cola' ,'Nike'])
daily_return_log_df

      Microsoft  Credit Suisse    Boeing  Coca Cola      Nike
0      0.014337       0.014218 -0.027036   0.018331 -0.003102
1     -0.021584       0.000000  0.020482   0.015587 -0.004672
2      0.005440      -0.014218 -0.010466   0.000000  0.007774
3      0.016144       0.014218  0.000000   0.002896 -0.001550
4     -0.012534      -0.014218 -0.003328  -0.021433  0.006699
...         ...            ...       ...        ...       ...
2603   0.007116       0.012270 -0.017196  -0.027929  0.032430
2604   0.045812      -0.037271 -0.033235   0.010619 -0.023878
2605  -0.012114      -0.017880  0.045830   0.034117  0.046980
2606  -0.016126      -0.023469 -0.007273  -0.002503 -0.005284
2607   0.029181       0.010499  0.018409   0.001252 -0.001325

[2608 rows x 5 columns]

## EXERCICE 1.2

In [9]:
# Calculate the sum of the daily returns for each stock (arithmetic)
daily_return_ari_sum = sum(daily_return_ari[:,0:])

# Calculate the sum of the daily returns for each stock (log)
daily_return_log_sum = sum(daily_return_log[:,0:])

In [10]:
# Calculate the whole return for each stock (arithmetic)
data_first = np.array(df.iloc[:,1:])[0]
data_last = np.array(df.iloc[:,1:])[-1]
whole_return_ari = (data_last - data_first)/data_first

# Calculate the whole return for each stock (log)
whole_return_log = np.log(data_last/data_first)

In [11]:
# Compare the sum of daily returns with the whole return (arithmetic) in data frame type
compare_ar = pd.DataFrame(np.array([daily_return_ari_sum, whole_return_ari]), columns = ['Microsoft','Credit Suisse' ,'Boeing' ,'Coca Cola' ,'Nike'], index = ['daily', 'whole'])
compare_ar

       Microsoft  Credit Suisse    Boeing  Coca Cola      Nike
daily   2.998090      -0.481085  1.070421   1.249556  1.593748
whole   8.602888      -0.542959  0.671203   1.397000  1.335570

In [12]:
# Compare the sum of daily returns with the whole return (log) in data frame type

compare_log = pd.DataFrame(np.array([daily_return_log_sum, whole_return_log]), columns = ['Microsoft','Credit Suisse' ,'Boeing' ,'Coca Cola' ,'Nike'], index = ['daily', 'whole'])
compare_log

       Microsoft  Credit Suisse    Boeing  Coca Cola      Nike
daily   2.262064      -0.782983  0.513544   0.874218  0.848256
whole   2.262064      -0.782983  0.513544   0.874218  0.848256

For the logarithm part, we can see the sum of the daily return is equal to the whole return. But not for the arithmetic part. This is a property and an advantage of the logarithm.

# Exercice 2

We used only Microsoft for this exercice

In [13]:
companie = ['Microsoft','Credit Suisse' ,'Boeing' ,'Coca Cola' ,'Nike']
for i in range(0, 4):
    variables = np.column_stack((daily_return_ari[1:-1, i], daily_return_ari[0:-2, i]))
    x = sm.add_constant(variables)
    y = daily_return_ari[2:, i]
    reg1 = sm.OLS(endog = y, exog = x, missing = 'drop')
    results = reg1.fit()
    print()
    print(companie[i])
    print(results.summary())

Microsoft
                            OLS Regression Results
==============================================================================
Dep. Variable:                      y   R-squared:                       0.001
Model:                            OLS   Adj. R-squared:                 -0.000
Method:                 Least Squares   F-statistic:                    0.6891
Date:                Wed, 08 Dec 2021   Prob (F-statistic):              0.502
Time:                        00:20:37   Log-Likelihood:                 6048.6
No. Observations:                2606   AIC:                        -1.209e+04
Df Residuals:                    2603   BIC:                        -1.207e+04
Df Model:                           2
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const          0.0012      0.000      2.547      0.011       0.000       0.002
x1            -0.0106      0.020     -0.541      0.589      -0.049       0.028
x2            -0.0205      0.020     -1.047      0.295      -0.059       0.018
==============================================================================
Omnibus:                      261.580   Durbin-Watson:                   2.001
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             1932.756
Skew:                           0.118   Prob(JB):                         0.00
Kurtosis:                       7.212   Cond. No.                         42.3
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

Credit Suisse
                            OLS Regression Results
==============================================================================
Dep. Variable:                      y   R-squared:                       0.027
Model:                            OLS   Adj. R-squared:                  0.027
Method:                 Least Squares   F-statistic:                     36.80
Date:                Wed, 08 Dec 2021   Prob (F-statistic):           1.74e-16
Time:                        00:20:37   Log-Likelihood:                 7248.9
No. Observations:                2606   AIC:                        -1.449e+04
Df Residuals:                    2603   BIC:                        -1.447e+04
Df Model:                           2
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const         -0.0002      0.000     -0.802      0.423      -0.001       0.000
x1            -0.1541      0.020     -7.892      0.000      -0.192      -0.116
x2            -0.0869      0.020     -4.447      0.000      -0.125      -0.049
==============================================================================
Omnibus:                      614.253   Durbin-Watson:                   2.014
Prob(Omnibus):                  0.000   Jarque-Bera (JB):            30984.017
Skew:                           0.147   Prob(JB):                         0.00
Kurtosis:                      19.890   Cond. No.                         71.0
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

Boeing
                            OLS Regression Results
==============================================================================
Dep. Variable:                      y   R-squared:                       0.004
Model:                            OLS   Adj. R-squared:                  0.003
Method:                 Least Squares   F-statistic:                     4.706
Date:                Wed, 08 Dec 2021   Prob (F-statistic):            0.00912
Time:                        00:20:37   Log-Likelihood:                 6425.5
No. Observations:                2606   AIC:                        -1.284e+04
Df Residuals:                    2603   BIC:                        -1.283e+04
Df Model:                           2
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const          0.0004      0.000      1.060      0.289      -0.000       0.001
x1             0.0214      0.020      1.095      0.274      -0.017       0.060
x2            -0.0565      0.020     -2.887      0.004      -0.095      -0.018
==============================================================================
Omnibus:                      436.113   Durbin-Watson:                   2.001
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             5369.232
Skew:                          -0.394   Prob(JB):                         0.00
Kurtosis:                       9.988   Cond. No.                         49.0
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

Coca Cola
                            OLS Regression Results
==============================================================================
Dep. Variable:                      y   R-squared:                       0.003
Model:                            OLS   Adj. R-squared:                  0.002
Method:                 Least Squares   F-statistic:                     3.888
Date:                Wed, 08 Dec 2021   Prob (F-statistic):             0.0206
Time:                        00:20:37   Log-Likelihood:                 6929.7
No. Observations:                2606   AIC:                        -1.385e+04
Df Residuals:                    2603   BIC:                        -1.384e+04
Df Model:                           2
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const          0.0005      0.000      1.427      0.154      -0.000       0.001
x1             0.0304      0.020      1.552      0.121      -0.008       0.069
x2            -0.0462      0.020     -2.362      0.018      -0.085      -0.008
==============================================================================
Omnibus:                      207.514   Durbin-Watson:                   2.001
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             1184.410
Skew:                           0.051   Prob(JB):                    6.44e-258
Kurtosis:                       6.301   Cond. No.                         59.8
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

# Exercice 3

## Exercice 3.1

In [14]:
mu_hat_total = []
sigma_hat_total = []
for i in range(0,5):
    mu_hat, sigma_hat = stats.norm.fit(daily_return_ari[:,i])
    mu_hat_total.append(mu_hat)
    sigma_hat_total.append(sigma_hat)

In [15]:
norm_fit = pd.DataFrame([mu_hat_total, sigma_hat_total], columns = ['Microsoft','Credit Suisse' ,'Boeing' ,'Coca Cola' ,'Nike'], index = ['Mean', 'Sd'])

In [16]:
norm_fit

      Microsoft  Credit Suisse    Boeing  Coca Cola      Nike
Mean   0.001150      -0.000184  0.000410   0.000479  0.000611
Sd     0.023757       0.015194  0.020596   0.016965  0.023874

## Exercice 3.2

In [17]:
mean_ = []
var_ = []
skew_ = []
kurt_ = []
for i in range(0,5):
    mean_.append(statistics.mean(daily_return_ari_df.iloc[:,i]))
    var_.append(statistics.variance(daily_return_ari_df.iloc[:,i]))
    skew_.append(stats.skew(daily_return_ari_df.iloc[:,i]))
    kurt_.append(stats.kurtosis(daily_return_ari_df.iloc[:,i], fisher = False))
    
centered_mom = pd.DataFrame([mean_, var_, skew_, kurt_], columns = ['Microsoft','Credit Suisse' ,'Boeing' ,'Coca Cola' ,'Nike'], index = ['Mean', 'Variance', 'Skewness', 'Kurtosis'])

In [18]:
centered_mom

          Microsoft  Credit Suisse    Boeing  Coca Cola      Nike
Mean       0.001150      -0.000184  0.000410   0.000479  0.000611
Variance   0.000565       0.000231  0.000424   0.000288  0.000570
Skewness   0.127559       0.000530 -0.357708   0.061767 -0.055516
Kurtosis   7.172731      20.093120  9.915576   6.322332  9.165505

In [19]:
compare_mean = pd.DataFrame([mu_hat_total, mean_], columns = ['Microsoft','Credit Suisse' ,'Boeing' ,'Coca Cola' ,'Nike'], index = ['Normal Fit', 'Centered mom.'])
compare_mean

               Microsoft  Credit Suisse   Boeing  Coca Cola      Nike
Normal Fit       0.00115      -0.000184  0.00041   0.000479  0.000611
Centered mom.    0.00115      -0.000184  0.00041   0.000479  0.000611

In [20]:
compare_sd = pd.DataFrame([sigma_hat_total, np.sqrt(np.array(var_))], columns = ['Microsoft','Credit Suisse' ,'Boeing' ,'Coca Cola' ,'Nike'], index = ['Normal Fit', 'Centered mom.'])
compare_sd

               Microsoft  Credit Suisse    Boeing  Coca Cola      Nike
Normal Fit      0.023757       0.015194  0.020596   0.016965  0.023874
Centered mom.   0.023762       0.015197  0.020600   0.016968  0.023878

## Exercice 3.3

In [21]:
Cov_mat = np.cov(daily_return_ari_df, rowvar = False)

In [22]:
Cov_mat_df = pd.DataFrame(Cov_mat, columns = ['Microsoft','Credit Suisse' ,'Boeing' ,'Coca Cola' ,'Nike'], index = ['Microsoft','Credit Suisse' ,'Boeing' ,'Coca Cola' ,'Nike'])
Cov_mat_df

               Microsoft  Credit Suisse    Boeing  Coca Cola      Nike
Microsoft       0.000565       0.000038  0.000104   0.000068  0.000106
Credit Suisse   0.000038       0.000231  0.000045   0.000022  0.000035
Boeing          0.000104       0.000045  0.000424   0.000073  0.000092
Coca Cola       0.000068       0.000022  0.000073   0.000288  0.000071
Nike            0.000106       0.000035  0.000092   0.000071  0.000570

We can see that there is no (few) linearly dependance between companies' returns.

## Exercice 3.4

In [23]:
companie = ['Microsoft','Credit Suisse' ,'Boeing' ,'Coca Cola' ,'Nike']
for i in range(0,5):
    simulation = np.random.normal(mu_hat_total[i], sigma_hat_total[i], 5000)
    print(companie[i], '(Left: Data - Right: Normal simulated)')
    print()
    print('Mean: %.5f, %.5f' % (mean_[i], statistics.mean(simulation)))
    print('Variance: %.5f, %.5f' % (var_[i], statistics.variance(simulation)))
    print('Skewness: %.5f, %.5f' % (skew_[i], stats.skew(simulation)))
    print('Kurtosis: %.5f, %.5f' % (kurt_[i], stats.kurtosis(simulation, fisher = False)))
    print()

Microsoft (Left: Data - Right: Normal simulated)

Mean: 0.00115, 0.00135
Variance: 0.00056, 0.00057
Skewness: 0.12756, -0.06924
Kurtosis: 7.17273, 3.09020

Credit Suisse (Left: Data - Right: Normal simulated)

Mean: -0.00018, -0.00004
Variance: 0.00023, 0.00023
Skewness: 0.00053, -0.00703
Kurtosis: 20.09312, 2.99253

Boeing (Left: Data - Right: Normal simulated)

Mean: 0.00041, -0.00031
Variance: 0.00042, 0.00042
Skewness: -0.35771, -0.06721
Kurtosis: 9.91558, 3.01403

Coca Cola (Left: Data - Right: Normal simulated)

Mean: 0.00048, 0.00034
Variance: 0.00029, 0.00028
Skewness: 0.06177, -0.03045
Kurtosis: 6.32233, 2.96976

Nike (Left: Data - Right: Normal simulated)

Mean: 0.00061, 0.00048
Variance: 0.00057, 0.00057
Skewness: -0.05552, -0.04504
Kurtosis: 9.16550, 2.86564

Comment: Even if the mean, the variance and the skewness (not for every companies) are similar, because of the kurtosis, we can see that the returns are not following a normal distribution.

# Exercice 4

In [24]:
number_of_bloc = math.floor(len(daily_return_ari_df)/500)
mean_by_bloc = np.ones(number_of_bloc)
var_by_bloc = np.ones(number_of_bloc)
skew_by_bloc = np.ones(number_of_bloc)
kurt_by_bloc = np.ones(number_of_bloc)

In [25]:
for i in companie:
    for j in range(0,number_of_bloc):
        mean_by_bloc[j] = statistics.mean(daily_return_ari_df[i][j*500:(j+1)*500])
        var_by_bloc[j] = statistics.variance(daily_return_ari_df[i][j*500:(j+1)*500])
        skew_by_bloc[j] = stats.skew(daily_return_ari_df[i][j*500:(j+1)*500])
        kurt_by_bloc[j] = stats.kurtosis(daily_return_ari_df[i][j*500:(j+1)*500], fisher = False)
    print(i)
    print('Means: ', mean_by_bloc)
    print('Variances: ', var_by_bloc)
    print('Skewness: ', skew_by_bloc)
    print('Kurtosis: ', kurt_by_bloc)
    print()

Microsoft
Means:  [ 0.00063723  0.00177815  0.00280947  0.00101724 -0.00034287]
Variances:  [0.00033988 0.00039845 0.00038994 0.00078267 0.00083382]
Skewness:  [ 0.13785497 -0.02876188  0.40495714 -0.47520247  0.70014676]
Kurtosis:  [3.62642647 4.04164113 4.34197077 6.14947181 8.66363664]

Credit Suisse
Means:  [-2.26037510e-04  4.06724196e-04  7.92359666e-05 -4.48820621e-04
 -5.40180315e-05]
Variances:  [0.0001929  0.00016747 0.00010143 0.00024894 0.0003125 ]
Skewness:  [-0.7187362  -0.0654893  -0.51800909 -0.12362837  1.4927527 ]
Kurtosis:  [ 7.17127485  2.75642728  5.89336914 24.13898361 30.82996177]

Boeing
Means:  [ 3.97731672e-04  1.60352937e-03 -3.63959378e-05  3.03980498e-04
  4.80226405e-04]
Variances:  [0.00017873 0.00022409 0.00038123 0.0006509  0.00061695]
Skewness:  [ 0.75040713  0.44906005 -0.57836824  0.01676647 -0.93301869]
Kurtosis:  [ 6.75289353  3.57092906 12.55702548  7.86383665  8.97453934]

Coca Cola
Means:  [ 4.70775879e-04  1.56318893e-03  1.09549014e-03 -4.58033301e-04
  9.23439117e-05]
Variances:  [0.00015171 0.0001409  0.00025214 0.00054835 0.00030315]
Skewness:  [ 0.37387572 -0.1287524   0.36601345  0.20483848  0.0661082 ]
Kurtosis:  [4.04771165 3.46428587 4.70783937 4.9098877  5.30912891]

Nike
Means:  [-3.32901950e-04  2.69309624e-03 -6.72395502e-05  1.14246437e-04
  1.06995985e-03]
Variances:  [0.00036338 0.00027425 0.00050545 0.00107802 0.00062208]
Skewness:  [-0.31525416  0.72601521 -0.00733029  0.35687822 -1.07228671]
Kurtosis:  [ 6.52935014  4.99573714  8.41984554  6.57116774 11.27608872]

We can see that the returns differ across the periods (sometimes higher return, sometime lower returns).

# Exercice 5

In [26]:
def moments(x):
    from scipy import stats
    import statistics
    print("Mean :", statistics.mean(x))
    print("Variance :", statistics.variance(x))
    print("Skewness :", stats.skew(x))
    print("Kurtosis :", stats.kurtosis(x, fisher = False))

In [27]:
moments(daily_return_ari_df['Microsoft'])

Mean : 0.0011495742339471034
Variance : 0.0005646352145123674
Skewness : 0.12755925387046377
Kurtosis : 7.172730500164688

Yes it makes sense to expect a non-normal distribution because of the kurtosis, which often exceeds 3.